<div>
    <div>
        <div *ngIf="!user.connected">
            <form (ngSubmit)="onSubmit()" #connectForm="ngForm">
                <input type="email"
                       [(ngModel)]="providedEmail" name="email"
                       placeholder="Votre courriel"
                       required
                       #name="ngModel"/>
                <input type="password"
                       [(ngModel)]="providedPassword" name="password"
                       placeholder="Mot de passe"
                       required />
                <input type="submit"  value="Connexion" [disabled]="!connectForm.form.valid"/>
            </form>
        </div>
        <div *ngIf="user.connected" >
            <button (click)="disconnect()">Déconnexion</button>
        </div>
    </div>
    <app-bucket-list *ngIf="user.connected"></app-bucket-list>
</div>