<div>
    <div>
        <div *ngIf="!connected">
            <form (ngSubmit)="onSubmit()" #connectForm="ngForm">
                <input type="email"
                       [(ngModel)]="providedEmail" name="email"
                       placeholder="Votre courriel"
                       required
                       #name="ngModel"/>
                <input type="password"
                       [(ngModel)]="providedPassword" name="password"
                       placeholder="Mot de passe"
                       required />
                <input type="submit" (click)="connect()" value="Connexion" [disabled]="!connectForm.form.valid"/>
            </form>
        </div>
        <div *ngIf="connected" >
            <button (click)="disconnect()">Déconnexion</button>
        </div>
    </div>
    <app-bucket-list *ngIf="connected"></app-bucket-list>
</div>